---
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import SectionContainer from '../components/SectionContainer.astro';
import GithubIcon from '../icons/Github.astro';
import LinkeInIcon from "../icons/LinkedIn.astro"
import MailIcon from '../icons/Mail.astro';
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import WorkIcon from '../icons/Work.astro';
import CodeIcon from '../icons/Code.astro'
import Projects from '../components/Projects.astro';
import ProfileCheck from '../icons/ProfileCheck.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Portfolio Martin Castro - Desarrollador y Programador Web Full Stack">
	<main class="px-4">
		<SectionContainer id="top" class="pt-44 sm:py-36 max-w-5xl">
			<img
				class="rounded-full size-40 mb-5"
				src="https://avatars.githubusercontent.com/u/94722526?v=4" 
				alt="My-photo"
			/>
			<h1 
				class="text-2xl md:text-5xl font-bold flex flex-row gap-x-4 pb-5"
			>Hola Soy Martin Castro
			<a
			href="https://www.linkedin.com/in/martin-daniel-castro"
			target="_blank" 
			class="flex justify-center items-center" >
				<Badge>Open To Work</Badge>
			</a>
			</h1>
				<h2 class="text-base md:text-xl lg:text-2xl opacity-80 text-pretty" >
					<span class="text-yellow-200" >
						Desarrollador Web Full Stack
					</span> con experiencia en crear soluciones digitales y eficientes. Transformo ideas en sitios funcionales, optimizados pensando en una excelente experiencia de usuario. 
				</h2>
			<nav class="md:flex gap-x-5 mt-5">
				<SocialPill href="https://github.com/Drake4044">
					<GithubIcon class="size-8"/>
					Github
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/martin-daniel-castro">
					<LinkeInIcon class="size-7"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="mailto:martincastro4044@gmail.com">
					<MailIcon class="size-8"/>
					Martincastro4044@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia" class="pt-28 mt-10" >
			<h2 class="text-3xl font-bold mb-8 flex items-center gap-x-3 " >
				<WorkIcon class="size-8" />
				Expeciencia laboral
			</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="proyectos" class="pt-28 mt-10" >
			<h2 class="text-3xl font-bold mb-8 flex items-center gap-x-3 " >
				<CodeIcon class="size-8" />
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>
		<SectionContainer id="sobre-mi" class="pt-28 mt-10" >
			<h2 class="text-3xl font-bold mb-8 flex items-center gap-x-3 " >
				<ProfileCheck class="size-8" />
				Sobre mi
			</h2>
			<AboutMe/>
		</SectionContainer>
	</main>
</Layout>

<style>
	img {
		mask-image: linear-gradient(
			black 30%,
			transparent
		);
	}
</style>

