---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio Martin Castro">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44 " >
			<h1 
				class="text-5xl font-bold flex flex-row gap-x-5 pb-5"
			>Hola Soy Martin Castro
			<a
			href="https://www.linkedin.com/in/martin-daniel-castro"
			target="_blank" 
			class="flex justify-center items-center" >
				<Badge>Open Work</Badge>
			</a>
			</h1>
				<h2 class="text-xl opacity-80" >
					Desarrolo Web Full Stack, +5 años de experiencia. Siempre en busca de soluciones!!  
				</h2>
			<ul>

			</ul>
		</section>
	</main>
</Layout>

