---
 const personalImageAlt = "Martin Castro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row mb-20">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-normal
    [&>p>strong]:text-lg [&>p>strong]:font-mono text-pretty order-2 md:order-1 mr-5 animate-div"
  >
    <p>
        Mi nombre es Martín Castro. Comencé en la programación luego de enamorarme de la materia  "Pensamiento Científico" en la UBA. 
        <strong>
            Disfruto creando experiencias web visualmente atractivas.
        </strong>
    </p>

    <p>
        Entre mis éxitos destaco que durante mis estudios, 
        <strong>
            ayudé a mis compañeros a comprender React. Me encanta crear sitios dinámicos, rápidos y llamativos, me gusta poder compartir mi conocimiento sobre ello.
        </strong>
        Creo mucho en la importancia de crear una experiencia fluida y confiable.
    </p>

    <p>
        Actualmente  
        <strong>
            me dedico a crear sitios web y aplicaciones como
            <em class="italic text-shadow cursor-pointer">Desarrollador Full Stack</em>
            orientado al atractivo visual.
        </strong>
        Mi objetivo es crear sitios web, aplicaciones y también juegos para puedan distarlos tanto como yo.
    </p>
  </div>

  <img width="200" height="200" src="./public/pictures/Photo-me-02.webp" alt={personalImageAlt} class="order-1 object-cover w-60 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-black/70" style="object-position: 50% 10%">

</article>

<style>
    .text-shadow {
        text-shadow: 1px 1px 3px rgb(255, 225, 0);
    }
    
    .animate-div {
      animation: slide-up ease-in-out;
      animation-timeline: view();
      animation-range: entry 0% contain 40%;
      animation-fill-mode: both;
    }
</style>

