<div class="flex items-center">
    <span class="relative inline-flex hover:scale-105 transition-all overflow-hidden rounded-full p-[4px] ">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_60deg,transparent_70%,yellow_90%)] blur-lg "
      ></span>
      <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-yellow-400 bg-white/15 rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap">
        <slot />
      </div>
    </span>
    </div>