<span
    class="bg-green-500 text-slate-100 text-xs opacity-90 font-medium me-2 px-2.5 py-1.5 rounded dark:bg-blue-900 dark:text-blue-300 hover:bg-green-300 hover:text-slate-700 transition-all"
>
    <slot/>
</span>