---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: "JavaScript Developer",
        company: "Coder House",
        description: 
        "Fundamentos avanzados del lenguaje de programación más usado en la actualidad. jQuery, AJAX, Librerías, Frameworks y mas.",
        date: "Mayo 2022"
    },
    {
        title: "Full Stack Developer",
        company: "Soy Henry",
        description: 
        "Estudio intensivo como Programador / Desarrollador Full Stack Web utilizando tecnologías como: HTML, CSS, JavaScript, React, Redux, PostgreSQL, Node.js, Express y MySQL.",
        date: "Enero 2023"
    },
       
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4 ">  
    {
        EXPERIENCE.map( experiencie => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie} />
        </li>       
        ))
    }                
</ol>

