---
import GithubIcon from "../icons/Github.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
import AstroIcon from "../icons/AstroIcon.astro"

---


<footer class="border-t mt-10">
    <div class="mx-auto w-full max-w-screen-xl p-2 py-4 lg:py-6">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/#top" class="flex items-center">
                  <AstroIcon class="size-8 mr-1"/>
                  <span class="self-center text-xl font-semibold whitespace-nowrap">Power by Astro</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 gap-x-20 mr-4 p-2">
              <div>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li>
                        <a href="/#top" class="hover:underline" aria-label="top" >Inicio</a>
                    </li>
                    <li class="my-4">
                        <a href="/#proyectos" class="hover:underline" aria-label="proyectos" >Proyectos</a>
                    </li>
                    <li>
                        <a href="/#experiencia" class="hover:underline" aria-label="experiencia" >Experiencia</a>
                    </li>
                </ul>
              </div>
              <div>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li>
                            <a href="mailto:miduga@gmail.com" class="hover:underline text-shadow transition-all duration-[0.25s] hover:text-yellow-400">Mail</a>
                        </li>
                        <li class="my-4">
                            <a href="https://github.com/Drake4044" target="_blank" class="hover:underline text-shadow transition-all duration-[0.25s] hover:text-yellow-400">Github</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/martin-daniel-castro" target="_blank" class="hover:underline text-shadow transition-all duration-[0.25s] hover:text-yellow-400">Linkedin</a>
                        </li>
                    </ul>
              </div>
          </div>
      </div>
      <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-6" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"> ©2024 by Martin Castro.
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0 mr-8 gap-x-5">
              <a href="https://github.com/Drake4044" class="text-gray-500 hover:text-white">
                <GithubIcon class="size-5" />
              </a>
              <a href="https://www.linkedin.com/in/martin-daniel-castro" class="text-gray-500">
                  <LinkedInIcon class="size-5 fill-gray-500 hover:fill-white" />
              </a>
          </div>
      </div>
    </div>
</footer>

<style>
    .text-shadow:hover {
    text-shadow: 1px 1px 5px rgb(255, 225, 0);
  }
</style>
